* {
  scrollbar-color: var(--color-main) var(--color-main-light-8);
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background: var(--color-main);
}
*::-webkit-scrollbar-track {
  background: var(--color-main-light-8);
}
body {
  --text-color: #303133;
  color: var(--text-color);
  min-height: 100vh;
}
a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.25s ease-out, opacity 0.25s ease-out;
}
a:hover {
  opacity: 0.65;
}

i {
  font-size: 20px;
}

.overflow-hidden {
  overflow: hidden;
}

#app {
  min-width: 270px;
}

.arrow-up-icon {
  position: fixed;
  right: 50px;
  bottom: 100px;
  padding: 10px;
  color: #FFF;
  background-color: var(--color-main);
  border-radius: 50%;
}
.arrow-up-icon i {
  width: 20px;
  height: 20px;
  text-align: center;
}

#menu {
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-weight: 700;
  line-height: var(--header-height);
  background: var(--color-main);
  transition: background .25s ease-out,
              top .25s ease-out,
              height .25s ease-out;
}
#menu.hidden {
  top: calc(0px - var(--header-height));
}
#menu.menu-color, #menu.menu-color .menu-page {
  background: rgba(0, 0, 0, 0.15);
}
#menu #desktop-menu,
#menu #mobile-menu {
  height: 100%;
  align-items: center;
}
#menu #desktop-menu {
  margin: 0 60px;
}
#menu #mobile-menu {
  margin: 0 20px;
}
#menu #desktop-menu a,
#menu #mobile-menu a {
  color: #FFF;
  display: inline-block;
}
#menu #mobile-menu {
  position: relative;
}
#menu #mobile-menu .menu-icon {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: var(--header-height);
  display: flex;
  align-items: center;
}
#menu #mobile-menu .title {
  margin: 0 auto;
}
#menu #desktop-menu .nav-a:hover {
  color: var(--color-main-light-8);
}
#menu.menu-color #desktop-menu .nav-a:hover {
  color: var(--color-main);
}
#menu .nav-ul {
  display: flex;
  list-style: none;
}
#menu .nav-ul .nav-li {
  margin-left: 10px;
}
#menu .nav-ul .nav-li i{
  margin-right: 5px;
}
#menu .menu-page {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-main);
}
#menu .menu-page .nav-ul {
  margin: 0;
  flex-direction: column;
  align-items: center;
}
#menu .menu-page .nav-ul .nav-li {
  margin: 0;
}
#menu .menu-page a {
  color: #FFF;
}

#main {
  min-height: calc(100vh - var(--footer-height));
  /* padding-top: var(--header-height); */
  transition: padding .25s ease-out;
}

#home-head {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: #F1939C; */
}
#home-head #home-info {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home-head .angles-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 26px;
  transform: translateX(-50%);
}
#home-head .angles-down  .angles-path {
  fill: var(--color-main);
  animation: angles-path 2.5s linear infinite;
}
#home-head .angles-down  .angles-path:nth-child(1) {
  animation-delay: 1.75s;
}

#home-posts-wrap {
  padding-top: var(--header-height);
  min-height: calc(100vh - var(--footer-height));
  max-width: 1200px;
}

#footer-container {
  height: var(--footer-height);
  width: 100%;
  font-size: 14px;
}


@media (min-width: 1200px) {
  body {
    --footer-height: 40px;
    --header-height: 80px;
  }
  #mobile-menu {
    display: none;
  }
  #desktop-menu {
    display: flex;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  body {
    --footer-height: 40px;
    --header-height: 60px;
  }
  #mobile-menu {
    display: none;
  }
  #desktop-menu {
    display: flex;
  }
}
@media (max-width: 900px) {
  body {
    --footer-height: 40px;
    --header-height: 40px;
  }
  #mobile-menu {
    display: flex;
  }
  #desktop-menu {
    display: none;
  }
}

@keyframes angles-path{
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
}



#nprogress .bar {
  background: var(--color-main) !important;
  height: 5px !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px var(--color-main),0 0 5px var(--color-main) !important;
}
#nprogress .spinner-icon {
  border-top-color: var(--color-main) !important;
  border-left-color: var(--color-main) !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.fade-in-left-enter-active,
.fade-in-left-leave-active {
  transition: transform 0.3s, opacity 0.3s;
}
.fade-in-left-enter-from,
.fade-in-left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  /* opacity: 0; */
  /* --background: linear-gradient(135deg, #23C4F8, #275EFE); */
  --background: linear-gradient(135deg, var(--color-main-light-6), var(--color-main));
  --shadow: var(--color-main-dark-4);
  --text: #6C7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 200px;
  height: 140px;
  position: relative;
}

.loader:before, .loader:after {
  --r: -6deg;
  content: "";
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}

.loader:before {
  left: 4px;
}

.loader:after {
  --r: 6deg;
  right: 4px;
}

.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}

.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  -webkit-animation: var(--duration) ease infinite;
  animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  -webkit-animation-name: page-2;
  animation-name: page-2;
}

.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  -webkit-animation-name: page-3;
  animation-name: page-3;
}

.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  -webkit-animation-name: page-4;
  animation-name: page-4;
}

.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  -webkit-animation-name: page-5;
  animation-name: page-5;
}

.loader div ul li svg {
  width: 90px;
  height: 120px;
  display: block;
}

.loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}

.loader div ul li:last-child {
  --o: 1;
}

.loader span {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--text);
  opacity: 0.5;
  font-weight: bold;
}

@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  35%, 100% {
    opacity: 0;
  }

  50%, 100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  50%, 100% {
    opacity: 0;
  }

  65%, 100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  65%, 100% {
    opacity: 0;
  }

  80%, 100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  80%, 100% {
    opacity: 0;
  }

  95%, 100% {
    transform: rotateY(0deg);
  }
}

.burger {
  position: relative;
  width: 20px;
  height: 15px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #FFF;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 14px;
  left: 5px;
}